﻿﻿@model MVC_23.Models.FormData
@{
    ViewBag.Title = "Form Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>

<div id="form">
    @using (Html.BeginForm("FormPage", "Form", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
    <div class="form-group">
        <h2 class="text-center">How ofter do you visit the library?</h2>
        @Html.ListBoxFor(m => m.Visit, new MultiSelectList(
                           new string[] { "Monthly", "Weekly", "Daily" }),
                           new { @class = "form-control" })
        <p class="alert-danger">@Html.ValidationMessageFor(m => m.Visit)</p>
    </div>
    <div class="form-group">
        <h2 class="text-center">
            How satisfied are you with the
            opening hours of the library?
        </h2>
        @Html.ListBoxFor(m => m.Satisfaction, new MultiSelectList(
                      new string[] {"Satisfied", "Indiffirent",
                    "Dissatisfied"}), new { @class = "form-control" })
        <p class="alert-danger">@Html.ValidationMessageFor(m => m.Satisfaction)</p>
    </div>
    <div class="form-group">
        <h2 class="text-center">
            Rate our services
        </h2>
        @Html.ListBoxFor(m => m.LevelOfService, new MultiSelectList(
                            new string[] {"Excelent", "Very good", "Sufficient",
                    "Insufficient"}), new { @class = "form-control" })
        <p class="alert-danger">@Html.ValidationMessageFor(m => m.LevelOfService)</p>
    </div>
    <div class="form-group">
        <h2 class="text-center">
            Why do you primarily use the library
            and its services?
        </h2>
        @Html.ListBoxFor(m => m.PrimaryUsing, new MultiSelectList(
                                 new string[] { "Leisure", "Education", "Work" }),
                                     new { @class = "form-control" })
        <p class="alert-danger">@Html.ValidationMessageFor(m => m.PrimaryUsing)</p>
    </div>
    <button type="submit" class="btn btn-primary form-control">Send</button>
    }
</div>
