﻿﻿@model List<MVC_23.Models.Article>
@{ ViewBag.Title = "Main Page"; }

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

@foreach (var a in Model)
{
<div>
    <h2>@a.Name</h2>
    <p>@a.Date.ToShortDateString()</p>
    <p>@a.Text</p>
</div>}
