﻿﻿@model List<MVC_23.Models.Review>
@{ 
    ViewBag.Title = "Guest Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<div id="reviews" class="col-md-offset-2">
    @foreach (var a in Model)
    {
    <div class="article">
        <p class="articleName">@a.AuthorName:</p>
        <p class="articleDate">@a.Date.ToShortDateString()</p>
        <p class="articleText">@a.Text</p>
    </div>
    }

    @using (Html.BeginForm("AddReview", "Guest", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <input type="hidden" value=@DateTime.Now.ToShortDateString() name="Date" />
        <div class="form-group">
            <p>Enter your name</p>
            @Html.TextBox("AuthorName", "", new { @class="form-control" })
            @*<p class="alert-danger">@Html.ValidationMessage("AuthorName")</p>*@
        </div>
        <div class="form-group">
            <p>Enter your review</p>
            @Html.TextArea("Text", "", null)
            @*<p class="alert-danger">@Html.ValidationMessage("Text")</p>*@
        </div>
        <input type="submit" class="form-control btn-primary" value="Send" />
    }
</div>
